@import 'colors';

.hero {
    display: flex;
    margin: 3vw 0 14vw;
    &__text {
        text-align: justify;
        
        @media (max-width: 768px) {
            margin-bottom: 50px;
        }

        &__title {
            img {
                width: 560px;
                margin: 60px 40px;
                

                @media (max-width: 768px) {
                    margin: 60px 20px;
                }
            }
        }
    }

    &__mainimage {
        img {
            width: 100%;
            max-height: 65vh;
            border-radius: 20px;
            -webkit-mask-image: linear-gradient(to right, transparent 5%, black 100%);
            mask-image: linear-gradient(to right, transparent 5%, black 100%);
            mask-mode: alpha;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}
